Repository jbwittner/myGuild, changes with the labels that .github/labeler.yml gives for each.
All labels: configuration, documentation, java, yaml, xml, sql, backend-source, backend-test, backend-resources, frontend-source, frontend-public

Refactoring (#79)
  .gitpod.Dockerfile
  .gitpod.yml
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/GuildMemberIndexData.java
  server/src/main/java/fr/opendoha/myguild/server/dto/FactionDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildInformationsDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildsAccountDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/LocalizedStringDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/RealmDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/UserAccountDTO.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Guild.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/CharacterRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/IBlizzardAPIHelper.java
  server/src/test/java/fr/opendoha/myguild/server/service/blizzardservice/FetchAccountCharacterTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/blizzardservice/FetchAllDataCharactersTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/blizzardservice/FetchStaticDataTest.java
Labels: java, yaml, backend-source, backend-test

WIP Front
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/UserController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/TokenDTO.java
  server/src/main/java/fr/opendoha/myguild/server/tools/oauth2/BlizzardOAuth2FlowHandler.java
  server/src/test/java/fr/opendoha/myguild/server/tools/oauth2/OAuth2FlowHandlerImplTest.java
Labels: java, backend-source, backend-test

WIP FRONT
  frontend/package-lock.json
  frontend/package.json
  frontend/public/Blizzard_Entertainment_Logo.svg
  frontend/src/App.tsx
  frontend/src/font/morpheus/MORPHEUS.TTF
  frontend/src/font/morpheus/README.TXT
  frontend/src/index.css
  frontend/src/language/en.js
  frontend/src/services/common/Theme.tsx
  frontend/src/services/login/Login.tsx
  frontend/src/services/routeur/MainRouteur.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/UserController.java
Labels: java, backend-source

make httpclient
  frontend/src/api/ApiError.ts
  frontend/src/api/HttpClient.ts
Labels: none

Modification of exceptions and add handler to report exception during a rest call
  server/src/main/java/fr/opendoha/myguild/server/aop/interceptor/MotherInterceptor.java
  server/src/main/java/fr/opendoha/myguild/server/aop/interceptor/ServiceInterceptor.java
  server/src/main/java/fr/opendoha/myguild/server/controller/SecurityController.java
  server/src/main/java/fr/opendoha/myguild/server/controller/UserController.java
  server/src/main/java/fr/opendoha/myguild/server/exception/FunctionalException.java
  server/src/main/java/fr/opendoha/myguild/server/exception/UserAccountNotExistedException.java
  server/src/main/java/fr/opendoha/myguild/server/exception/UserBattleTagAlreadyUsedException.java
  server/src/main/java/fr/opendoha/myguild/server/exception/UserBlizzardIdAlreadyUsedException.java
  server/src/main/java/fr/opendoha/myguild/server/exception/UserEmailAlreadyUsedException.java
  server/src/main/java/fr/opendoha/myguild/server/exception/UserNickNameAlreadyUsedException.java
  server/src/main/java/fr/opendoha/myguild/server/exception/ValidationDataException.java
  server/src/main/java/fr/opendoha/myguild/server/security/SecurityConfiguration.java
  server/src/main/java/fr/opendoha/myguild/server/service/IUserService.java
  server/src/main/java/fr/opendoha/myguild/server/service/UserService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/handler/ErrorDetails.java
  server/src/main/java/fr/opendoha/myguild/server/tools/handler/GlobalExceptionHandler.java
  server/src/main/java/fr/opendoha/myguild/server/validation/InputServiceValidator.java
  server/src/main/java/fr/opendoha/myguild/server/validation/ValidEmail.java
  server/src/main/resources/application.yml
  server/src/test/java/fr/opendoha/myguild/server/service/userservice/GetAccountInfoTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/userservice/RegisterNewUserAccountTest.java
  server/src/test/java/fr/opendoha/myguild/server/validation/emailvalidator/IsValidTest.java
Labels: java, yaml, backend-source, backend-test

Security update
  server/src/main/java/fr/opendoha/myguild/server/security/SecurityConfiguration.java
Labels: java, backend-source

Front update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/ApiError.ts
  frontend/src/api/Entities.ts
  frontend/src/api/HttpClient.ts
  frontend/src/api/SecurityHttpClient.ts
  frontend/src/api/UserHttpClient.ts
  frontend/src/services/common/Context.ts
  frontend/src/services/common/TextFieldWithIcone.tsx
  frontend/src/services/login/Login.tsx
  frontend/src/services/login/components/Registration.tsx
  frontend/src/services/login/page/LoginPage.tsx
  frontend/src/services/routeur/MainRouteur.tsx
  frontend/src/services/routeur/PrivateRouteur.tsx
  frontend/src/services/storage/LocalStorage.ts
  frontend/src/services/storage/SessionStorage.ts
Labels: none

Update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/Entities.ts
  frontend/src/api/clients/BlizzardHttpClient.ts
  frontend/src/api/clients/HttpClient.ts
  frontend/src/api/clients/SecurityHttpClient.ts
  frontend/src/api/clients/UserHttpClient.ts
  frontend/src/services/common/AppBar.tsx
  frontend/src/services/login/components/Registration.tsx
  frontend/src/services/login/page/LoginPage.tsx
  frontend/src/services/routeur/MainRouteur.tsx
  frontend/src/services/routeur/PrivateRouteur.tsx
  frontend/src/services/storage/LocalStorage.ts
  frontend/src/services/storage/SessionStorage.ts
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharactersAccountDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/FactionDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildRankDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/PlayableClassDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/PlayableRaceDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/PlayableSpecializationDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/SpecializationRoleDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/StaticDataDTO.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/FactionRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/PlayableClassRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/PlayableRaceRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/PlayableSpecializationRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/SpecializationRoleRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
Labels: java, backend-source

Update front
  frontend/src/services/common/AlertSnackBar.tsx
  frontend/src/services/common/AppBar.tsx
  frontend/src/services/common/ColoredCheckBox.tsx
  frontend/src/services/home/page/HomePage.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/login/page/LoginPage.tsx
  frontend/src/services/routeur/MainRouteur.tsx
Labels: none

Update login page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/services/common/AppBar.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/login/page/LoginPage.tsx
  frontend/src/services/routeur/MainRouteur.tsx
Labels: none

Wip login page
  frontend/src/services/login/page/LoginPage.tsx
Labels: none

WIP Front
  frontend/src/services/common/Theme.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/login/page/LoginPage.tsx
Labels: none

Wip front
  frontend/src/api/clients/BlizzardHttpClient.ts
  frontend/src/services/common/AlertSnackBar.tsx
  frontend/src/services/common/CircularProgressScreen.tsx
  frontend/src/services/common/Theme.tsx
  frontend/src/services/home/page/HomePage.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/login/components/Registration.tsx
  frontend/src/services/login/page/LoginPage.tsx
  frontend/src/services/routeur/PrivateRouteur.tsx
  frontend/src/services/storage/SessionStorage.ts
Labels: none

Wip front
  frontend/src/services/home/page/HomePage.tsx
Labels: none

WIP
  frontend/.eslintrc.js
  frontend/src/api/Entities.ts
  frontend/src/services/characters/page/CharactersPage.tsx
  frontend/src/services/common/GetterStaticData.tsx
  frontend/src/services/home/page/HomePage.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/routeur/MainRouteur.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharactersAccountDTO.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/resources/application.yml
  write/LICENSE
  write/README.md
  write/index.js
  write/package.json
Labels: java, yaml, backend-source

wip
  write/LICENSE
  write/README.md
  write/index.js
  write/package.json
Labels: none

WIP front
  frontend/src/api/Entities.ts
  frontend/src/services/appbar/AppBar.tsx
  frontend/src/services/appbar/DrawerMenu.tsx
  frontend/src/services/characters/components/CharacterPaper.tsx
  frontend/src/services/characters/page/CharactersPage.tsx
  frontend/src/services/common/Theme.tsx
  frontend/src/services/routeur/MainRouteur.tsx
Labels: none

Modification of homepage
  frontend/src/services/home/page/HomePage.tsx
Labels: none

Update node version
  frontend/pom.xml
Labels: xml

Update backend
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Guild.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/IBlizzardAPIHelper.java
  server/src/main/resources/application.yml
Labels: java, yaml, backend-source

Add a continue in the loop
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
Labels: java, backend-source

update
  frontend/src/api/Entities.ts
  frontend/src/api/clients/BlizzardHttpClient.ts
  frontend/src/services/appbar/DrawerMenu.tsx
  frontend/src/services/characters/page/CharactersPage.tsx
  frontend/src/services/guildsIndex/page/GuildsIndexPage.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/routeur/MainRouteur.tsx
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildSummaryDTO.java
Labels: java, backend-source

Front update
  frontend/src/services/guildsIndex/page/GuildsIndexPage.tsx
Labels: none

Update front
  frontend/src/services/characters/page/CharactersPage.tsx
  frontend/src/services/guildsIndex/components/GuildPaper.tsx
  frontend/src/services/guildsIndex/page/GuildsIndexPage.tsx
  frontend/src/services/login/components/Login.tsx
  frontend/src/services/storage/SessionStorage.ts
Labels: none

Update back
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/ColorData.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/CrestData.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/GuildData.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/PartCrestData.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/RGBAData.java
  server/src/main/java/fr/opendoha/myguild/server/dto/ColorDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CrestDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CrestPartDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Character.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Guild.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/IBlizzardAPIHelper.java
  server/src/main/resources/application.yml
Labels: java, yaml, backend-source

update
  frontend/src/api/Entities.ts
  frontend/src/api/clients/BlizzardHttpClient.ts
  frontend/src/services/characters/components/CharacterPaper.tsx
  frontend/src/services/characters/page/CharactersPage.tsx
  frontend/src/services/guildsIndex/components/GuildPaper.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/ColorDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CrestDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CrestPartDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/exception/CharacterNotExistedException.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Character.java
  server/src/main/java/fr/opendoha/myguild/server/parameters/FavoriteCharacterParameter.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/IBlizzardAPIHelper.java
Labels: java, backend-source

update
  frontend/src/services/characters/components/CharacterPaper.tsx
  server/src/main/java/fr/opendoha/myguild/server/security/SecurityConfiguration.java
Labels: java, backend-source

Update gitpod
  .gitpod.yml
  sql/add_data_dev.sql
  sql/init_tables.sql
  sql/myGuild_db.sql
Labels: yaml, sql

update
  .gitpod.yml
Labels: yaml

update
  frontend/src/api/Entities.ts
  frontend/src/api/clients/BlizzardHttpClient.ts
  frontend/src/services/characters/components/CharacterPaper.tsx
  frontend/src/services/characters/page/CharactersPage.tsx
  frontend/src/services/guildsIndex/components/GuildPaper.tsx
  frontend/src/services/guildsIndex/page/GuildsIndexPage.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/FavoriteGuildDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/exception/GuildNotExistedException.java
  server/src/main/java/fr/opendoha/myguild/server/model/UserAccount.java
  server/src/main/java/fr/opendoha/myguild/server/parameters/FavoriteGuildParameter.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  sql/myGuild_db.sql
Labels: java, sql, backend-source

Update
  sql/myGuild_db.sql
Labels: sql

update
  frontend/src/services/appbar/DrawerMenu.tsx
  frontend/src/services/guildsIndex/components/GuildPaper.tsx
  frontend/src/services/guildsIndex/page/GuildsIndexPage.tsx
  frontend/src/services/routeur/MainRouteur.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/data/blizzardgamedata/GuildData.java
  server/src/main/java/fr/opendoha/myguild/server/dto/GuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Guild.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/IBlizzardAPIHelper.java
  server/src/main/resources/application.yml
  server/src/test/resources/application.yml
Labels: java, yaml, backend-source, backend-test

update
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/IBlizzardAPIHelper.java
Labels: java, backend-source

update
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
Labels: java, backend-source

Update
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Character.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Guild.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/resources/application.yml
  sql/myGuild_db.sql
Labels: java, yaml, sql, backend-source

update
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/FavoriteGuildDTO.java
  server/src/main/java/fr/opendoha/myguild/server/model/UserAccount.java
  server/src/main/java/fr/opendoha/myguild/server/parameters/FavoriteGuildParameter.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
Labels: java, backend-source

Update CI (#127)
  .github/workflows/project.yml
Labels: yaml

update
  Vagrantfile
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterRosterSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/CharacterRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
  waitForMySQL.sh
Labels: java, backend-source

Update dto (#129)
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterGuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/PlayableClassDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/PlayableSpecializationDTO.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/CharacterRepository.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IBlizzardService.java
Labels: java, backend-source

Service refacto (#130)
  server/src/main/java/fr/opendoha/myguild/server/controller/BlizzardController.java
  server/src/main/java/fr/opendoha/myguild/server/controller/CharacterController.java
  server/src/main/java/fr/opendoha/myguild/server/controller/GuildController.java
  server/src/main/java/fr/opendoha/myguild/server/controller/UserController.java
  server/src/main/java/fr/opendoha/myguild/server/service/BlizzardService.java
  server/src/main/java/fr/opendoha/myguild/server/service/CharacterService.java
  server/src/main/java/fr/opendoha/myguild/server/service/GuildService.java
  server/src/main/java/fr/opendoha/myguild/server/service/IUserService.java
  server/src/main/java/fr/opendoha/myguild/server/service/UserService.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/BlizzardServiceImpl.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/CharacterServiceImpl.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/GuildServiceImpl.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/UserServiceImpl.java
Labels: java, backend-source

.github/labeler.yml:

configuration:
- any: ['Vagrantfile','docker-compose.yml','./**/pom.xml','./**/.gitignore','./**/.github/**/*']

documentation:
- any: ['./LICENSE', './SECURITY.md', './README.md']

java:
- any: ['**/*.java']

yaml:
- any: ['**/*.yml']
  
xml:
- any: ['**/*.xml']

sql:
- any: ['**/*.sql']
  
backend-source:
- any: ['server/src/main/**/*']

backend-test:
- any: ['server/src/test/**/*']

backend-resources:
- any: ['server/src/main/**/resources/*','server/src/test/**/resources/*']

frontend-source:
- any: ['frontend/src']

frontend-public:
- any: ['frontend/public']
