Repository jbwittner/myGuild, changes with the labels that .github/labeler.yml gives for each.
All labels: configuration, documentation, java, yaml, xml, sql, backend-source, backend-test, backend-resources, frontend-source, frontend-public

.github/labeler.yml:

configuration:
- any: ['Vagrantfile','docker-compose.yml','./**/pom.xml','./**/.gitignore','./**/.github/**/*']

documentation:
- any: ['./LICENSE', './SECURITY.md', './README.md']

java:
- any: ['**/*.java']

yaml:
- any: ['**/*.yml']
  
xml:
- any: ['**/*.xml']

sql:
- any: ['**/*.sql']
  
backend-source:
- any: ['server/src/main/**/*']

backend-test:
- any: ['server/src/test/**/*']

backend-resources:
- any: ['server/src/main/**/resources/*','server/src/test/**/resources/*']

frontend-source:
- any: ['frontend/src']

frontend-public:
- any: ['frontend/public']

Add react (#137)
  .github/workflows/project.yml
  .gitignore
  README.md
  frontend/.eslintrc.js
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/config/env.js
  frontend/config/getHttpsConfig.js
  frontend/config/jest/cssTransform.js
  frontend/config/jest/fileTransform.js
  frontend/config/modules.js
  frontend/config/paths.js
  frontend/config/pnpTs.js
  frontend/config/webpack.config.js
  frontend/config/webpackDevServer.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pom.xml
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/scripts/build.js
  frontend/scripts/start.js
  frontend/scripts/test.js
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  pom.xml
Labels: yaml, xml

Adding call http (#160)
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/httpclient/ApiError.ts
  frontend/src/api/httpclient/HttpClient.ts
Labels: none

Developpement init (#161)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/service/common/Context.ts
  frontend/src/service/common/Theme.tsx
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/routeur/MainRouteur.tsx
  frontend/src/service/routeur/PrivateRouter.tsx
  frontend/src/service/storage/LocalStorage.ts
  frontend/src/service/storage/SessionStorage.ts
Labels: none

Adding route (#165)
  frontend/src/service/common/Theme.tsx
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/login/TestDiv.tsx
  frontend/src/service/routeur/MainRouteur.tsx
  server/src/main/java/fr/opendoha/myguild/server/controller/RoutesController.java
Labels: java, backend-source

Delete css files (#166)
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
Labels: none

Login page (#167)
  .github/workflows/project.yml
  .gitignore
  .vscode/launch.json
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pom.xml
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/api/Entities.ts
  frontend/src/api/httpclient/HttpClient.ts
  frontend/src/api/httpclient/SecurityHttpClient.ts
  frontend/src/api/httpclient/UserHttpClient.ts
  frontend/src/img/BlizzardLogo.svg
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/service/common/Context.ts
  frontend/src/service/common/CustomizedSnackbar.tsx
  frontend/src/service/common/Theme.tsx
  frontend/src/service/home/HomePage.tsx
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/login/TestDiv.tsx
  frontend/src/service/login/componants/LoginPaper.tsx
  frontend/src/service/login/componants/Registration.tsx
  frontend/src/service/routeur/MainRouteur.tsx
  frontend/src/service/routeur/PrivateRouter.tsx
  frontend/src/service/storage/LocalStorage.ts
  frontend/src/service/storage/SessionStorage.ts
  pom.xml
  server/pom.xml
  server/src/main/java/fr/opendoha/myguild/server/controller/RoutesController.java
  server/src/main/java/fr/opendoha/myguild/server/security/SecurityConfiguration.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/UserServiceImpl.java
  server/src/test/java/fr/opendoha/myguild/server/testhelper/AbstractMotherIntegrationTest.java
  server/src/test/java/fr/opendoha/myguild/server/tools/handler/globalexceptionhandler/GlobleExceptionHandlerTest.java
Labels: java, yaml, xml, backend-source, backend-test

Fetch data (#168)
  frontend/src/api/Entities.ts
  frontend/src/api/httpclient/BlizzardHttpClient.ts
  frontend/src/service/common/CircularProgressScreenProps.tsx
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/storage/SessionStorage.ts
  server/src/main/java/fr/opendoha/myguild/server/dto/CovenantDTO.java
Labels: java, backend-source

Get characters (#169)
  frontend/src/api/Entities.ts
  frontend/src/api/httpclient/CharacterHttpClient.ts
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/storage/SessionStorage.ts
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/BlizzardServiceImpl.java
Labels: java, backend-source

Adding app bar (#170)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/service/character/CharactersPage.tsx
  frontend/src/service/common/AppBar.tsx
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/routeur/MainRouteur.tsx
Labels: none

Character page (#171)
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Entities.ts
  frontend/src/api/httpclient/CharacterHttpClient.ts
  frontend/src/service/character/CharactersPage.tsx
  frontend/src/service/character/components/AccountCharacterTable.tsx
  frontend/src/service/character/components/StarFavorite.tsx
  frontend/src/service/common/CustomGridLoadingOverlay.tsx
  frontend/src/service/common/GetStaticData.tsx
  frontend/src/service/common/PlayableClassCell.tsx
  frontend/src/service/login/LoginPage.tsx
  frontend/src/service/storage/SessionStorage.ts
  server/src/main/java/fr/opendoha/myguild/server/controller/CharacterController.java
  server/src/main/java/fr/opendoha/myguild/server/service/CharacterService.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/CharacterServiceImpl.java
Labels: java, backend-source

Rollback react eject (#172)
  frontend/.eslintrc.js
  frontend/config/env.js
  frontend/config/getHttpsConfig.js
  frontend/config/jest/cssTransform.js
  frontend/config/jest/fileTransform.js
  frontend/config/modules.js
  frontend/config/paths.js
  frontend/config/pnpTs.js
  frontend/config/webpack.config.js
  frontend/config/webpackDevServer.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/scripts/build.js
  frontend/scripts/start.js
  frontend/scripts/test.js
Labels: none

Back update (#173)
  server/src/main/java/fr/opendoha/myguild/server/controller/CharacterController.java
  server/src/main/java/fr/opendoha/myguild/server/service/CharacterService.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/CharacterServiceImpl.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/UserServiceImpl.java
  server/src/test/java/fr/opendoha/myguild/server/service/characterservice/GetCharacterAccountTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/userservice/RegisterNewUserAccountTest.java
Labels: java, backend-source, backend-test

update package json
  frontend/package.json
Labels: none

Refacto
  frontend/src/service/accountcharacter/AccountCharactersPage.tsx
  frontend/src/service/accountcharacter/components/AccountCharacterTable.tsx
  frontend/src/service/accountcharacter/components/StarFavorite.tsx
  frontend/src/service/routeur/MainRouteur.tsx
Labels: none

refacto
  frontend/src/service/accountcharacters/AccountCharactersPage.tsx
  frontend/src/service/accountcharacters/components/AccountCharacterTable.tsx
  frontend/src/service/accountcharacters/components/StarFavorite.tsx
Labels: none

wip
  frontend/src/api/Entities.ts
  frontend/src/api/httpclient/GuildHttpClient.ts
  frontend/src/service/accountguilds/AccountGuildsPage.tsx
  frontend/src/service/common/AppBar.tsx
  frontend/src/service/routeur/MainRouteur.tsx
Labels: none

Migration self hosted (#184)
  server/src/main/java/fr/opendoha/myguild/server/controller/GuildController.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterGuildSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/dto/CharacterSummaryDTO.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/Guild.java
  server/src/main/java/fr/opendoha/myguild/server/model/blizzard/GuildRank.java
  server/src/main/java/fr/opendoha/myguild/server/repository/blizzard/GuildRankRepository.java
  server/src/main/java/fr/opendoha/myguild/server/service/GuildService.java
  server/src/main/java/fr/opendoha/myguild/server/service/implementation/GuildServiceImpl.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/BlizzardAPIHelper.java
  server/src/main/java/fr/opendoha/myguild/server/tools/api/implementation/BlizzardAPIHelperImpl.java
  server/src/main/resources/application.yml
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/AddingGuildTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/GetGuildFromAccountTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/GetGuildInformationsTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/GetGuildRosterTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/GetGuildTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/InitializeTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/guildservice/UpdateGuildTest.java
  server/src/test/java/fr/opendoha/myguild/server/service/userservice/RegisterNewUserAccountTest.java
  server/src/test/resources/application-test.yml
Labels: java, yaml, backend-source, backend-test
